audioToText.txt
src/audiomodule/speechToText/__pycache__/speechScript.cpython-313.pyc
src/audiomodule/speechToText/__pycache__/speechToText.cpython-313.pyc
speech.txt
speech.txt
speech.txt
src/audiomodule/speechToText/__pycache__/speechScript.cpython-311.pyc
src/audiomodule/speechToText/__pycache__/speechToText.cpython-311.pyc
src/videomodule/__pycache__/camera.cpython-311.pyc
speech.txt
